@import url(App.css);
@import url(reset.css);

/* header */

.header {
  padding: 48px 0;
  background-color: #e85a70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  }

.header-inner {
  text-align: center;
}

.header-sentense {
  margin-top: 16px;
}

/* question */

.question-main {
  padding: 80px 0;
  font-size: calc(10px + 1vmin);
  background-color: #ffffff;
  color: #454552;
  line-height: calc(20px + 1vmin);
  text-align: center;
}

.question-number {
  padding: 8px 18px;
  font-size: 20px;
  display: inline-block;
  border: 2px #e85a70 solid;
  border-radius: 10px;
}

.question-sentense {
  padding: 18px ;
}

.question-submit {
  margin-top: 48px;
  position: relative;
  display: inline-block;
}

.question-caution {
  opacity: 0;
}

.question-button {
  opacity: 1;
  transition: 0.6s;
  width: 200px;
  margin-top: 18px;
  color: #ffffff;
  background-color: #e85a70;
  border: none;
  border-radius: 10px;
  line-height: 40px;
  cursor: pointer;
}

.question-button:hover {
  opacity: 0.7;
}

.question-questions:nth-child(n+2) {
  margin-top: 48px;
}

/* answer */


.answer-main {
  padding: 48px 0;
  background-color: #ffffff;
  color: #454552;
  text-align: center;
}

.answer-answer {
  margin-top: 48px;
}

.answer-title {

}

.answer-result{
  font-size: 2vh; 
}

.answer-button {
  opacity: 1;
  transition: 0.6s;
  width: 200px;
  margin-top: 56px;
  color: #ffffff;
  background-color: #e85a70;
  border: none;
  border-radius: 10px;
  line-height: 40px;
  cursor: pointer;
}

.answer-button:hover {
  opacity: 0.7;
}