@import url(App.css);
@import url(reset.css);

/* header */

.header {
  padding: 48px 0;
  background-color: #e85a70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  }

.header-inner {
  text-align: center;
}

.header-sentense {
  margin-top: 16px;
}

/* question */

.question-main {
  position: relative;
  padding: 80px 0;
  font-size: calc(10px + 1vmin);
  background-color: #ffffff;
  color: #454552;
  line-height: calc(20px + 1vmin);
  text-align: center;
}

.question-number {
  padding: 8px 18px;
  font-size: calc(10px + 1vmin);

  display: inline-block;
  border: 2px #e85a70 solid;
  border-radius: 10px;
}

.question-sentense {
  padding: 18px ;
}

.question-submit {
  margin-top: 80px;
  position: relative;
  display: inline-block;
}

.question-cautionSentense {
  display: none;
  margin-bottom: 18px;
}

.show {
  display: block;
}

@keyframes showCaution {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

.question-button {
  opacity: 1;
  transition: 0.6s;
  width: 200px;
  color: #ffffff;
  background-color: #e85a70;
  border: none;
  border-radius: 10px;
  line-height: 40px;
  cursor: pointer;
}

.question-button:hover {
  opacity: 0.7;
}

.question-questions:nth-child(n+2) {
  margin-top: 80px;
}

.question-show {
  display: block;
}

.question-hide {
  display: none;
}

/* answer */

.answer-main {
  font-size: calc(10px + 1vmin);
  padding: 48px 0;
  background-color: #ffffff;
  color: #454552;
  text-align: center;
}

.answer-number {
  padding: 8px 18px;
  font-size: calc(10px + 1vmin);
  display: inline-block;
  border: 2px #e85a70 solid;
  border-radius: 10px;
}

.answer-answer {
  margin-top: 48px;
}

.answer-result{
  margin-top: 18px;
  font-size: calc(16px + 1vmin);

  font-weight: bold;
}

.answer-sentense {
  margin: 18px auto 0;
  width: 400px;
}

.answer-button {
  opacity: 1;
  transition: 0.6s;
  padding: 0 20px;
  margin-top: 56px;
  color: #ffffff;
  background-color: #e85a70;
  border: none;
  border-radius: 10px;
  line-height: 40px;
  cursor: pointer;
}

.answer-button:hover {
  opacity: 0.7;
}

.answer-show {
  display: block;
}

.answer-hide {
  display: none;
}
